<nav>
  <ul>
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="tipagem">Tipagem</a>
    </li>
    <li>
      <a href="classes">Classes</a>
    </li>
    <li>
      <a href="heranca">Herança</a>
    </li>
    <li>
      <a href="encapsulamento">Encapsulamento</a>
    </li>
    <li>
      <a href="polimorfismo">Polimorfismo</a>
    </li>
    <li>
      <a href="interface">Interface</a>
    </li>
    <li>
      <a href="absClass">Classe Abstrata</a>
    </li>
    <li>
      <a href="anomaliaTS">Anomalia TypeScript</a>
    </li>
    <li>
      <a href="anomaliaAngular">Anomalia Angular</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
